@import url(lato.css);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: inherit;
  
  outline: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

i[class^="icon"] {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 2px;
}

i.icon-user {
  background-image: url(../img/user-icon.png);
}

i.icon-basket {
  background-image: url(../img/basket-icon.png);
}

body {
  background-color: #e5e5e5;
  /*background: url(../img/design-light.png) no-repeat center top; height: 2500px;*/
}

.container {
  background-color: #fff;
  max-width: 1244px;
  margin: 61px auto 80px;
  padding: 0 32px 36px;
}

.page-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 36px 0;
  text-align: right;
  height: 115px;
}

.page-header h1 {
  margin: 0 6px 0 0;
  font-size: 14px;
  background-color: #222;
  text-align: center;
  width: 42px;
  line-height: 42px;
  font-weight: normal;
  float: left;
}

.page-header h1 a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.page-header nav h1 {
  left: -9999px;
  position: absolute;
}

.page-header nav ul {
  margin: 0;
  list-style: none;
}

.page-header nav li {
  line-height: 42px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.page-header nav a {
  color: #303030;
  text-decoration: none;
}

.page-header nav a:hover {
  text-decoration: underline;
}

.page-nav li {
  float: left;
  margin-left: 51px;
}

.user-nav {
  display: inline-block;
}

.user-nav li {
  float: left;
  margin-right: 48px;
}

.page-header form {
  float: right;
  display: inline-block;
  line-height: 42px;
}

.page-header form input[type="search"] {
  display: none;
  border: 1px solid #959595;
  border-right: none;
  line-height: 36px;
  padding: 2px 10px;
  margin: 0 -5px 0 0;
  font-size: 14px;
  vertical-align: middle;
  height: 42px;
}

.page-header form input[type="search"]:focus,
.page-header form:hover input[type="search"] {
  display: inline-block;
}

.page-header form input[type="submit"] {
  border: 1px solid #959595;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  background: transparent url(../img/search-icon.png) no-repeat center;
  text-indent: -9999px;
}

main header {
  text-align: center;
  padding: 134px 0 150px;
}

main header h1 {
  margin: 0;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: bold;
  color: #303030;
  letter-spacing: 3px;
}

main header p {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  font-style: italic;
  color: #606060;
  margin: 9px 0 0;
  letter-spacing: 1.2px;
}  

main header a {
  display: inline-block;
  line-height: 58px;
  border: 1px solid #959595;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: #303030;
  width: 229px;
  margin-top: 67px;
  letter-spacing: 0.9px;
}

main header a:hover {
  background-color: #303030;
  color: #fff;
}

main section h2 {
  position: absolute;
  left: -9999px;
}

main > section article,
main section .article-spacer {
  float: left;
  width: 25%;
  height: 295px;
  color: #fff;
  text-align: center;
  line-height: 295px;
}

main section article .article-content {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

main > section article h1,
main > section article h2,
main > section article p {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

main > section article h1,
main > section article h2 {
  font-weight: bold;
  font-size: 24px;
}

main section article.article-big {
  height: 590px;
  line-height: 590px;
}

main section article.article-big h1 {
  padding: 0 58px;
}

main section article.article-category h1:before {
  content: "";
  display: block;
  background: url(../img/left-arrow-icon.png) no-repeat center;
  height: 13px;
  margin-bottom: 4px;
  position: relative;
  top: -6px;
}

main section article.article-category p,
main section article.article-product p {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: 18px;
  margin-top: 3px;
}

main section article.article-tweet h1 {
  text-indent: -9999px;
  display: inline-block;
  background: url(../img/twitter-icon.png) no-repeat center;
  width: 99px;
  height: 25px;
}

main section article.article-tweet blockquote,
main section article.article-tweet p {
  font-size: 14px;
}

main section article.article-tweet blockquote {
  margin: 26px 0 14px;
  width: 185px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

main section article.article-tweet p {
  font-family: inherit;
  text-transform: inherit;
  font-weight: bold;
}

main > section > *:nth-child(2) { background-color: #d2d2d2; }
main > section > *:nth-child(3) { background-color: #bbbbbb; }
main > section > *:nth-child(4) { background-color: #dbdbdb; }
main > section > *:nth-child(5) { background-color: #606060; }
main > section > *:nth-child(6) { background-color: #cacaca; }
main > section > *:nth-child(7) { background-color: #bbbbbb; }
main > section > *:nth-child(8) { background-color: #d7d7d7; }
main > section > *:nth-child(9) { background-color: #c2c2c2; }
main > section > *:nth-child(10) { background-color: #606060; }
main > section > *:nth-child(11) { background-color: #d0d0d0; }

main section article:nth-child(8) {
  margin-bottom: -295px;
}

main footer {
  text-align: center;
  padding: 139px 0 45px;
}

main footer h2 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

main footer p {
  margin: 0;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-style: italic;
  margin-top: 5px;
  letter-spacing: 0.9px;
}

main footer form {
  margin-top: 56px;
}

main footer form input[type="email"],
main footer form input[type="submit"] {
  line-height: 54px;
  vertical-align: middle;
  height: 56px;
}

main footer form input[type="email"] {
  border: 1px solid #959595;
  border-right: none;
  width: 475px;
  padding: 0 13px;
  font-style: italic;
  margin-right: -5px;
}

main footer form input[type="submit"] {
  text-transform: lowercase;
  background-color: #f68236;
  border: 1px solid #e67429;
  width: 95px;
  color: #fff;
}

main footer section {
  margin-top: 132px;
}

main footer section nav h3 {
  position: absolute;
  left: -9999px;
}

main footer section nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main footer section nav li a {
  display: inline-block;
  text-indent: -9999px;
  width: 39px;
  height: 118px;
  background-color: #e4e4e4;
  background-position: center;
  background-repeat: no-repeat;
}

main footer section nav li:first-child a {
  float: left;
  background-image: url(../img/previous.png);
}

main footer section nav li:last-child a {
  float: right;
  background-image: url(../img/next.png);
}

main footer section ul {
  padding: 0;
  list-style: none;
  background-color: #bbbbbb;
  height: 118px;
  margin: -118px 39px 0;
}

.page-footer {
  color: #303030;
}

.page-footer h1 {
  position: absolute;
  left: -9999px;
}

.page-footer nav {
  height: 159px;
  width: 25%;
  float: left;
  border-right: 1px solid #eaeaea;
  padding: 0 20px;
}

.page-footer nav:nth-child(2) {
  padding-left: 0;
}

.page-footer nav:last-child {
  border-right: none;
}

.page-footer h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}

.page-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer li {
  line-height: 21px;
}

.page-footer a {
  font-size: 12px;
  color: #303030;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.page-footer a:hover {
  text-decoration: underline;
}

.page-footer p {
  font-size: 12px;
  line-height: 12px;
}

.page-footer .social-icons {
  margin-top: 23px;
}

.page-footer .social-icons li {
  border: 1px solid #606060;
  margin-left: 14px;
  float: left;
}

.page-footer .social-icons li:first-child {
  margin-left: 0;
}

.page-footer .social-icons a {
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  background: url(../img/social-icons-sprite.png) no-repeat;
}

.page-footer .social-icons a:hover {
  background-color: #606060;
}

.page-footer .social-icons .footer-twitter a { background-position: 0 0; }
.page-footer .social-icons .footer-twitter a:hover { background-position: 0 -32px; }
.page-footer .social-icons .footer-facebook a { background-position: -32px 0; }
.page-footer .social-icons .footer-facebook a:hover { background-position: -32px -32px; }
.page-footer .social-icons .footer-instagram a { background-position: -64px 0; }
.page-footer .social-icons .footer-instagram a:hover { background-position: -64px -32px; }
